@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    /* color: rgb(221, 85, 12); */
}


body::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 10vh;
    background: linear-gradient(rgba(28, 31, 35, 0.7), rgba(28, 31, 35, 0.7));
    background-color: black;
}

.conteudo{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 7vw;
    height: 9vh;
}

.botoes{
    display: flex;
    width: 20vw;
    justify-content: space-around;
}

.botoes_login{
    border: none;
    cursor: pointer;
    width: 9vw;
    height: 5vh;
    background-color: #003F6A;
    border-radius: 10px;
}

.botoes_cadastro{
    cursor: pointer;
    border: none;
    width: 9vw;
    height: 5vh;
    background-color: #106B86;
    border-radius: 10px;
}

.banner_fundo{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/imgs/melhor.jpg); 
    background-size: cover; /* Faz a imagem cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}

.tudo{
    height: 80vh;
    margin-left: 10vh;
    margin-top: 10vh;
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teste_banner{
    display: flex;
    flex-direction: column;
}

.logo_banner{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* border: 1px solid red; */
    width: 40vw;
    height: 50vh;
}

.pix{
    width: 7vw;
    margin-bottom: 2vh;
}

.techpix{
    width: 24vw;
    height: 16vh;
    margin-bottom: 4vh;
}

.slogan{
    display: flex;
    /* border: 1px solid red; */
    font-family: 'Karla';
    width: 40vw;
    font-size: 50px;
    color: white;
    text-align: center;
}

.slogan span {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #567EBB 35%, #FFFAFF 80%);  /* Aplica o degradê horizontalmente */
    -webkit-background-clip: text; /* Faz com que o degradê seja aplicado apenas ao texto. */
    -webkit-text-fill-color: transparent; /* Deixa o preenchimento do texto invisível para exibir o degradê. */
    font-weight: 800;
}


.botao{
    display: flex;
    margin-top: 5vh;
}

.botoes_login_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: none;
    width: 10vw;
    height: 8vh;
    background-color: #606D80;
    cursor: pointer;
    font-family: 'Karla';
}

.botoes_cadastro_banner{
    border: none;
    color: white;
    width: 10vw;
    height: 8vh;
    background-color: #003F6A;
    cursor: pointer;
    font-family: 'Karla';
}

.separacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    background-color: white;
}

.separacao span{
    font-family: 'Lora';
    text-align: center;
    font-size: 42px;
}

.principal_impacto{
    display: flex;
    width: 100%;
    flex-direction: row; /*ISSO QUE DEIXOU A IMAGEM AO LADO*/
    justify-content: space-between;
    align-items: center;
    background-color: #01010D;
}

.principal_impacto2{
    display: flex;
    width: 100%;
    flex-direction: row-reverse; /*ISSO QUE DEIXOU A IMAGEM AO LADO*/
    justify-content: space-between;
    align-items: center;
    background-color: #01010D;
}

.imagem_impacto {
    width: 50vw; 
    height: 100vh; 
    background-size: cover; /* Faz a imagem cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}

.texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100vh;
    height: 100vh;
    align-items: center;
}

.principal_impacto .texto p{
    margin-top: 100px;
    color: white;
    font-size: 25px;
    padding: 20px;
}

.principal_impacto .texto button{
    margin-top: 30px
}

.botoes_impacto{
    cursor: pointer;
    border: none;
    border-radius: 15px;
    color: white;
    width: 10vw;
    height: 8vh;
    background-color: #003F6A;
}

.principal_impacto2 .texto p{
    margin-top: 100px;
    color: white;
    font-size: 25px;
    padding: 20px;
}

.principal_impacto2 .texto button{
    margin-top: 30px
}


.separacao_solucao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    background-color: white;
}

.separacao_solucao span{
    font-family: 'Lora';
    text-align: center;
    font-size: 42px;
}



.nossa_solucao{
    display: flex;
    background-color: #ffffff;
    height: 105vh;
    width: 100vw;
    flex-direction: row; /*ISSO QUE DEIXOU A IMAGEM AO LADO*/
    justify-content: space-between;
    align-items: center;
}

.imagem_solucao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 70vh; 
}

.imagem_solucao img {
    width: 95%; 
    height: 100%;
}

.solucao_texto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-around;
    height: 100vh;
    width: 50vw;
    align-items: center;
}

.solucao_texto span{
    width: 80%;
    font-size:20px;
    font-family: 'Karla';
    text-align: justify;
}


.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    background-color: #FFFAFF;
    background: linear-gradient(rgba(28, 31, 35, 0.7), rgba(28, 31, 35, 0.7));
    background-color: black;
}

.footer span{
    font-family: 'Lora';
    text-align: center;
    font-size: 20px;
    color: white;
}